---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
ConstructorInitializerIndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
FixNamespaceComments: true
IncludeBlocks: Preserve
NamespaceIndentation: None
SortIncludes: CaseSensitive
SpaceAfterTemplateKeyword: false
